.header-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 12em 0;
	text-align: center;
	color: $white;
	width: 100%;

	h1,h2,p {color:$orange;}
	h1 {
		text-shadow: 2px 2px 5px $black;
	}
}
