html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: $primary-color;
	font-weight: 400;
	font-size: 100%;
	//color: #333;
	height: 100%;
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: darken($primary-color, 10%);
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
	background: $secondary-color;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.js .menu-panel {
	position: absolute;
	left: -240px;
}

.menu-panel h3 {
	font-size: 1.8em;
	padding: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
}

.menu-toc {
	list-style: none;
	margin-left: 0;
}

.menu-toc li a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	line-height: 3.5;
	padding: 0 20px;
	cursor: pointer;
	//background: $primary-color;
	border-bottom: 1px solid lighten($secondary-color, 10%);
}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a{
	background: lighten($secondary-color, 10%);
}

.menu-panel div {
	margin-top: 20px;
}

.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);
}

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top: 20px;
	left: 75px;
	position: absolute;
	z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
	font-family: 'Lato', Calibri, Arial, sans-serif;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: #ad0132;
    border-radius: 50%;
    color: #fff;
    line-height: 30px;
    text-align: center;
    speak: none;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px #0a0a0a;
    font-size: 30px;
    padding: 1px;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: darken($primary-color, 10%);
}

.bb-custom-wrapper nav span:last-child {
	left: 50px;
}

.menu-button {
	z-index: 1000;
	left: 20px;
	top: 20px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}


.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}


.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
/*
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
*/
}

.js .content:after {
/*
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
*/
}

.content h1 {
	font-weight: 500;
	font-size: 2.5em;
	padding: 0 0 10px;
	color: $secondary-color;
	margin: 0 1% 20px;
	text-align: left;
	box-shadow: 0 10px 0 rgba(0,0,0,0.02);
	//text-shadow: 1px 1px 0px #fff;
}

.no-js .content h1 {
	padding: 40px 1% 20px;
}

.content p, .content li {
	font-size: 1.2em;
	font-weight: 400;
	color: $secondary-color;

// 	padding: 5px 8%;
}

.content li {
	margin-bottom: 20px;
}

.slide-1,.slide-6,.slide-8, .slide-10, .slide-12 {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li {
		color: $white!important;
	}
}

@media screen and (max-width: 800px){
/*
	.no-js .menu-panel {
		display: none;
	}
*/

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}

.drum {
    bottom: 40px;
    left: 20px;
    position: absolute;
    z-index: 1000;
    img {

    }
}