.topbar-container {
	background-color: #121212;

	.top-bar {
		@include grid-row($columns:12);
		background: transparent;
		ul {
			background: transparent;
		}
	  .menu .home a {
	    font-size: 1rem;
	    color: #B9B9B9;
	  }

	  .menu a {
	    //height: 45px;
	    line-height: 45px;
	    color: #e6e6e6;
	    padding-top: 0;
	    padding-bottom: 0;
	    font-weight: bold;
	    font-size: 0.8rem;

	    &:hover:not(.button) {
	      background-color: #2a2a2a;
	    }
	  }

	  .menu>li:not(.menu-text)>a {
	    padding: 1rem;
	  }

	  .menu li:not(:last-child) {
	    @include breakpoint(medium) {
	      border-right: 1px solid #4e4e4e;
	    }
	  }

	  .dropdown.menu .submenu {
	    background-color: #121212;
	    color: #e6e6e6;
	    border: 0;
	  }

	  .dropdown.menu .has-submenu.is-down-arrow a {
	    padding-right: 1rem;
	  }

	  .dropdown.menu .has-submenu.is-down-arrow>a::after {
	    border: 0;
	  }


	}
}
.vertical &.menu {
  padding: 1rem;
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .title a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}


header#masthead {
    position: relative;
    width: 100%;
    top: 0;
    //background: none;
    transition: background 500ms ease;
    -webkit-transition: background 500ms ease;
    &.scrolled {
		position: fixed;
		top: -70px;
		background: gray;
		transform: translateY(70px);
		transition: transform 500ms ease,background 900ms ease;
		-webkit-transition: transform 500ms ease,background 900ms ease;
		z-index: 99999;

		a {
			color: $white!important;
		}
		.home a {
			color: $white !important;
			padding: 8px 0;
		}
    }
}
