  .tv-button {
    @include button($background:green,$color:red);
  }
  .tv-button.active {
    border-bottom: solid 4px $primary-color;
    padding-bottom: tiny - rem-calc(4);
  }


  /* The best way */
%button {
  min-width: 100px;
  padding: 1em;
  border-radius: 1em;
}
%twitter-background {
  color: #fff;
  background: #55acee;
}
%facebook-background {
  color: #fff;
  background: #3b5998;
}

.btn {
  &--twitter {
    @extend %button;
    @extend %twitter-background;
  }
  &--facebook {
    @extend %button;
    @extend %facebook-background;
  }
}

.content-slider{
    position:relative;
    clear: both;
        /* transition the height nicely */
    -webkit-transition: height 2s;
        transition:height 2s;
}
.content-slider .fade{position:absolute;z-index:1; background: #fff; display: none;}
.content-slider .fade.current{z-index:3; display: block;}